@import "./var";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;

	.header {
		width: 100%;
		// height: 80px;
		background: $white;
		padding: 20px 0px;
		display: flex;
		align-items: center;

		&-left {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 19%;
			padding-left: 30px;
			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				.comany-name {
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;
					color: $dark;
					margin-left: 12px;
					display: flex;
					align-items: center;
				}
			}
			.burger {
				border: none;
				background: transparent;
				display: flex;
				align-items: center;
				cursor: pointer;
			}
		}
		&-right {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 40px;
			width: 81%;
			.search {
				width: 340px;
				padding: 10px 19px 11px 22px;
				color: $gray-text;
				display: flex;
				justify-content: space-between;
				gap: 5px;
				align-items: center;
				background: #f5f7fa;
				border-radius: 8px;
				input {
					width: 100%;
					border-style: none;
					outline: none;
					font-weight: 400;
					font-size: 16px;
					line-height: 19px;
					background: transparent;
				}
			}
			.user {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 28px;

				.language {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
					cursor: pointer;
				}
				.account {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
					cursor: pointer;
				}
			}
		}
	}
	.main {
		width: 100%;
		display: flex;
		.leftPanel {
			width: 19%;
			padding: 36px 24px 40px;
			background: $white;
			display: flex;
			flex-direction: column;

			.drop-btn {
				background: $fiolet2;
				width: 100%;
				height: 70px;
				color: $white;
				border: none;
				border-radius: 8px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0px 20px;
				margin-bottom: 25px;
				p {
					display: flex;
					align-items: center;
					font-weight: 600;
					font-size: 16px;
					line-height: 19px;
					img {
						height: 100%;
						margin-right: 16px;
					}
				}
				.drop {
					right: 0;
				}
			}

			.nav {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				.mainNav {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 2px;
					overflow-y: scroll;
					max-height: 700px;
					&::-webkit-scrollbar {
						width: 0;
					}
					a {
						@include nav_css();
						color: $dark;
					}
					.dashboard {
						color: $fiolet2;
						font-weight: 600;
						font-size: 16px;
						line-height: 19px;
						background: $gray;
					}
				}
				.logout {
					@include nav_css();
					color: $red;
				}
			}
		}
		.content {
			width: 81%;
			height: 100%;
			padding: 36px 43px 40px 40px;
			background: $gray;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 30px;
			&-overview {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.overView {
					font-weight: 600;
					font-size: 24px;
					line-height: 29px;
					color: $dark;
				}
				.btn {
					padding: 10px 17px;
					border: none;
					border-radius: 12px;
					background: $fiolet;
					color: $white;
					display: flex;
					gap: 8px;
					cursor: pointer;
				}
			}
			&-top {
				display: flex;
				justify-content: space-between;
				gap: 29px;
				&-start {
					@include card();
					@include card_top_mini();
					width: 525px;
					height: 187px;
				}
				&-center {
					@include card();
					@include card_top_mini();
				}
				&-end {
					@include card();
					@include card_top_mini();
				}
			}
			&-bottom {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				gap: 30px;
				&-Left {
					max-width: 710px;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 30px;

					&-portofolio {
						@include card();
						width: 100%;
						height: 344px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 10px;
						div {
							display: flex;
							justify-content: space-between;
							p {
								font-weight: 600;
								font-size: 20px;
								line-height: 24px;
								color: $dark;
								display: flex;
								align-items: center;
								img {
									margin-right: 18px;
								}
							}
							select {
								padding: 0px 10px;
								width: 75px;
								border: none;
								outline: none;
								border-radius: 5px;
								background: $gray;
								color: $fiolet;
								font-weight: 700;
								font-size: 12px;
								cursor: pointer;
							}
						}

						.mainChart {
							max-height: 240px;
							height: 100%;
						}
					}
					&-transactions {
						@include card();
						width: 100%;
						height: 219px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						.title {
							display: flex;
							justify-content: space-between;
							align-items: center;
							p {
								font-weight: 600;
								font-size: 20px;
								line-height: 24px;
								color: $dark;
								display: flex;
								align-items: center;
								img {
									margin-right: 18px;
								}
							}
							select {
								padding: 12px 17px;
								background: #efebff;
								border: none;
								border-radius: 12px;
								font-weight: 500;
								font-size: 12px;
								line-height: 15px;
								color: $dark;
							}
						}
						.transaction {
							display: flex;
							justify-content: space-between;
							align-items: center;

							p {
								font-weight: 500;
								font-size: 15px;
								line-height: 18px;
								color: $dark;
							}

							.pp {
								padding: 7px 15px;
								color: #724bf2;
								background: rgba(99, 52, 254, 0.12);
								border-radius: 6px;
							}
							img {
								cursor: pointer;
							}
						}
					}
				}
				&-assets {
					@include card();
					max-width: 337px;
					min-height: 593px;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.all-assets {
						display: flex;
						flex-direction: column;
						.assets-header {
							display: flex;
							align-items: center;
							margin-bottom: 4px;
							img {
								margin-right: 18px;
							}
							&-title {
								font-weight: 600;
								font-size: 20px;
								line-height: 24px;
								color: $dark;
							}
						}
						.listCoins {
							overflow-y: scroll;
							margin-bottom: 15px;
							max-height: 455px;
							margin-right: -7px;
							&::-webkit-scrollbar {
								width: 5px;
							}
							&::-webkit-scrollbar-thumb {
								border-radius: 5px;
								background-color: $gray;
							}
							&:hover {
								&::-webkit-scrollbar-thumb {
									background-color: $fiolet;
								}
							}

							.coinItem {
								padding: 18px 0px;
								// border-bottom: 1px dashed rgba(44, 56, 79, 0.3);
								margin-right: 10px;
								border-radius: 8px;
								&:hover {
									background: $gray;
								}

								a {
									display: flex;
									align-items: center;
									text-decoration: none;

									.coin-img {
										width: 40px;
										height: 40px;
										border-radius: 50%;
										border: none;
										margin-right: 14px;
									}
									.coinDesc {
										display: flex;
										align-items: center;
										justify-content: space-between;
										width: 100%;
										.coin-name {
											.name {
												font-weight: 500;
												font-size: 16px;
												line-height: 19px;
												color: $dark;
												margin-bottom: 6px;
											}
											.value {
												font-weight: 400;
												font-size: 12px;
												line-height: 15px;
												color: $gray-text;
											}
										}
										.coin-price {
											display: flex;
											flex-direction: column;
											align-items: flex-end;

											.price {
												font-weight: 500;
												font-size: 12px;
												line-height: 15px;
												color: $dark;
												margin-bottom: 7px;
											}
											.prc {
												display: flex;
												align-items: center;
												justify-content: space-between;
												width: 54px;
												font-weight: 500;
												font-size: 12px;
												line-height: 15px;
												img {
													width: 16px;
												}
												.green {
													color: $green;
												}
												.red {
													color: $red;
												}
											}
										}
									}
								}
							}
						}
					}
					.btnViewAll {
						background: $fiolet;
						border: none;
						border-radius: 12px;
						height: 38px;
						width: 100%;
						font-weight: 600;
						font-size: 12px;
						line-height: 15px;
						text-align: center;
						color: $white;
						cursor: pointer;
					}
				}
			}
		}
	}
}
